.DS_Store
.env
.venv
.vscode
.next
node_modules
venv
__pycache__
.env.local
.env.development.local
.env.test.local
.env.production.local
.log 
*.log


*.wav


data/
server/data/

server/mcp.json
server/mcp*.json